.container-all {
    /* border-bottom: 1px solid #e6e6e6; */
}
.container-custom {
    height: 45px;
    width: 100%;
    align-items: center;
    flex-direction: row;
    display: flex;
}
.container-categories {
    height: 45px;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.logo-app {
    height: 35px;
}
.div-line {
    height: 1px;
    background-color: #e6e6e6;
}
.div-search {
    height: 35px;
    background-color: #F4F4F4;
    width: 100%;
    border-radius: 18px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    align-items: center;
}
.div-search-mobile {
    height: 35px;
    background-color: #F4F4F4;
    width: 100%;
    border-radius: 18px;
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.div-search-none {
    flex: 1
}
.icon-search {
    height: 20px;
    width: 20px;
}
.div-menu {
}
.div-info {
}
.input-search {
    flex:  1;
    border: none;
    height: 35px;
    background-color: #F4F4F4;
    margin-left: 10px;
    font-size: 14px;
    font-family: nunito-sans;
}
.txt-nomal{
    font-family: nunito-sans;
    font-size: 14px;
}
.txt-button {
    font-family: nunito-sans;
    font-size: 14px;
    color: #F15B67;
    margin-left: 5px;
    margin-right: 5px;
}

.button {
    height: 35px;
    justify-content: center;
    border: 1px solid #F15B67;
    background-color: white;
    display: flex;
    align-items: center;
}
.div-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.div-bottom {
    background-color: #F4F4F4;
}
.txt-policy{
    font-family: nunito-sans;
    font-size: 14px;
    text-align: center;
}